<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="maincontent">
        {{>header}}
        <p>This site was created by DDZ. It uses data from mapbox.com and darksky.net!</p>
        <img class="portrait" src="/img/xz.gif">
        <p>{{idol}} has the most kissable lips all over the world!</p>
    </div>
    {{>footer}}
</body>


</html>